body * {
  color: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}
:root {
  --PhoneInput-color--focus: #03b2cb;
  --PhoneInputInternationalIconPhone-opacity: 0.8;
  --PhoneInputInternationalIconGlobe-opacity: 0.65;
  --PhoneInputCountrySelect-marginRight: 0.35em;
  --PhoneInputCountrySelectArrow-width: 0.3em;
  --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
  --PhoneInputCountrySelectArrow-borderWidth: 1px;
  --PhoneInputCountrySelectArrow-opacity: 0.45;
  --PhoneInputCountrySelectArrow-color: inherit;
  --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
  --PhoneInputCountrySelectArrow-transform: rotate(45deg);
  --PhoneInputCountryFlag-aspectRatio: 1.5;
  --PhoneInputCountryFlag-height: 1em;
  --PhoneInputCountryFlag-borderWidth: 1px;
  --PhoneInputCountryFlag-borderColor: rgba(0,0,0,0.5);
  --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
  --PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,0.1);
}
/* .control-carousel{
  max-width: 100%;
  height: 100%;
  width: 45rem;
  
}
.inner-c{
   
  border-radius: 2rem;
  
} */
.min-container-ht {
  min-height: calc(100vh - 75px);
}
.Profile {
  margin-top: 60px;
}
.margin-v-50 {
  margin-bottom: 50px;
}

.max-width-container {
  margin-left:  auto;
  margin-right:  auto;
  max-width: 1200px;
}



.Profile .left-section .vendor-head {
  display: flex;
  flex-direction: column;
  position: relative;
}
/* left section pic */
.Profile .left-section {
  min-width: 720px;
  max-width: 720px;
}
.margin-r-20 {
  margin-right: 20px;
}
.Profile .left-section .vendor-head .profile-pic {
  position: relative;
  overflow-y: hidden;
  height: 375px;
  width: 100%;
}
.infobox{
  margin-top: 20px;
  width: 100%;
  z-index: 0;
  border-radius: 2px solid red;
  background-color: #03b2cb;
  
}

/* info-section */
.Profile .left-section .vendor-head .info-box {
  margin-top: -40px;
  width: 100%;
  z-index: 0;
}
.Profile .left-section .vendor-head .info-box .vendor-info {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}
.margin-l-20{
  margin-left: 20px;
}
.padding-20{
  padding: 20px;
}
.Profile .left-section .vendor-head .info-box .vendor-info .vendor-details {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}
.protected-content {
  user-select: none;
}
.pre-wrap{
  white-space: pre-wrap;
}
.h4{
  font-size: 22px;
}
.margin-r-5{
  margin-right: 5px;
}
.h6{
  font-size: 16px;
  font-weight: 400;
}
.Profile .left-section .vendor-head .info-box .vendor-info .vendor-address .addr-right {
  -ms-flex: 1 1;
  flex: 1 1;
}
.text-secondary{
  color: black;
}
.margin-l-5{
   margin-left: 5px;
}
.align-fe{
  align-items: flex-end;
}
a{
  background-color: transparent;
}
a{
  text-decoration: none;
}
.StarRating.large {
  min-width: 80px;
  max-width: 80px;
  height: 40px;
}
.rating-5 {
  background-color: #5ba829;
}
.h4{
  font-weight: 400;
}
.nowrap {
  white-space: nowrap;
}

.StarRating {
  border-radius: 2px;
  color: #fff;
}
.green{
  color: #009a09;
}

.border-r {
  border-right: 1px solid #d7d7d7;
}
.grid__col--1-of-4{
  width: 24%;
}
.Profile .left-section .vendor-head .info-box .action-buttons .grid__col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile .left-section .vendor-head .info-box .action-buttons .grid__col {
  margin: 0;
  padding: 0;
}
.Profile .left-section .vendor-head .info-box .action-buttons .isvg {
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
}
.Profile .left-section .vendor-head .info-box .action-buttons .isvg>svg {
  height: 20px;
  width: 20px;
}
/* scroll option  */
.cNjBuU {
  display: flex;
  width: calc(720px);
  height: 50px;
  transition: width 0.1s ease 0s;
}
.fafxma {
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
  justify-content: center;
}
.w-100{
  width: 100%;
}
.ewyNqF {
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.bOdeLm {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.hcLHty {
  margin: 0px;
  padding-right: 30px;
  color: inherit;
  font-weight: 400;
}

/* photo porfolio section */
.eFjHCd {
  box-sizing: border-box;
  margin-top: 20px;
}
.TabularView {
  height: 610px!important;
}
.jss804{
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}
.MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
}
.jss3{
  background-color: transparent;
}
.MuiTabs-fixed-15{
  width: 100%;
}
.MuiTabs-scroller-14 {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.MuiTabs-flexContainer-11 {
  display: flex;
}
.MuiTab-textColorInherit.Mui-selected {
  opacity: 1;
}
.jss806 {
  color: #e72e77;
  font-weight: 600;
}

.jss807 {
  background-color: #e72e77;
}
.jss33 {
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiTab-wrapper-29 {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.jss8005{
  color: #909090;
  font-weight: 400;
}
.MuiTab-textColorInherit {
  opacity: 0.7;
}


.jss371 {
    color: #909090;
    font-weight: 400;
}

.MuiTab-textColorInherit {
    opacity: 0.7;
}

.MuiTab-root {
    padding: 2px 49px;
    overflow: hidden;
    position: relative;
    font-size: 0.875rem;
    max-width: 264px;

    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  
    line-height: 1.75;
    white-space: normal;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}
.TabularView .TabViews {
  height: 560px!important;
}
.padding-15{
  padding: 15px;
}
.TabularView .Portfolio .h-160 {
  height: 160px;
}
.TabularView .grid__col {
  padding: 0;
  margin: 0;
}
.TabularView .more-content {
  height: 50px;
  align-items: flex-start;
}
.h-center {
  display: flex;
  justify-content: center;
}
.TabularView .more-content .view-all-btn {
  height: 30px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid #e72e77;
}
.text-primary1{
  color: #e72e77;
}
.TabularView .Portfolio .portfolio-pic {
  width: 100%;
  object-fit: cover;
}
.padding-5{
  padding: 5px;
}
img {
  display: inline-block;
}
/* price-section */
.protect-content{
  user-select: none;
}
.h6{
  font-size: 16px;
  margin: 0;
}
.hh-50{
  height: 50px;
}
.h6{
  margin: 0;
}
.border-t {
  border-top: 1px solid #d7d7d7;
}

.bg-light-gray, .VendorLeads .top-bar {
  background-color: #fbfbfb;
}
.VendorPricing .grid__col {
  margin: 0;
  padding: 0;
}
.grid__col {
  box-sizing: border-box;
  display: inline-block;
  min-height: 1px;
  vertical-align: top;
}
.grid__col--1-of-2 {
  width: 50%;
}
.emSbxZ {
  display: flex;
  flex-direction: row;
}
.lkyfDq {
  display: flex;
  flex-direction: column;
}
.f-wrap{
  flex-wrap: wrap;
}
.text-primary-color{
  color: #e72e77;
}
.hr {
  border-bottom: 1px solid #d7d7d7;
}
.h5 {
  font-size: 20px;
  font-weight: 400;
  
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.icon {
  max-height: 20px;
}
.icon, .icon-large {
  vertical-align: middle;
}
.hidden{
  display: none;
}
/* buttonsec-css */

.iRGOst {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(231, 46, 119);
}

.iYUwOB {
    display: flex;
    height: 50px;
    width: 200px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    z-index: 0;
    color: rgb(255, 255, 255);
    cursor: default;
    border-radius: 100px;
    background-color: rgb(231, 46, 119);
    border: 1px solid rgb(231, 46, 119);
    pointer-events: auto;
}
.animated-btn {
    position: relative;
    overflow: hidden;
    padding: 0;
}
.epPjGO {
  display: flex;
  height: 50px;
  width: 200px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  z-index: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 100px;
  background-color: rgb(0, 154, 9);
  border: 1px solid rgb(0, 154, 9);
  pointer-events: auto;
}

.animated-btn {
  position: relative;
  overflow: hidden;
  padding: 0;
}

/* form css */
.right-section {
  flex: 1 1;
  width: calc(100% - 720px);
}
.dCKAkt {
  box-sizing: border-box;
  margin-top: -20px;
}
.radius{
  border-radius: 3px;
}
.bg-white{
  background-color: #fff;
}
.shadow-light{
  -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
}

.fcol{
  display: flex;
  flex-direction: column;
}
.bg-pink{
  background-color: white;
}
.padding-l-20{
  padding-left: 20px;
}
.padding-t-20{
  padding-top: 20px;
}
.margin-t-10{
  margin-top: 10px;
}
.padding-r-20{
  padding-right: 20px;
}
.margin-t-20{
  margin-top: 20px;
}
.paddinh-h-20{
  padding-left: 20px;
  padding-right: 20px;
}
.f-space-between{
  justify-content: space-between;
}
.frow{
  display: flex;
  flex-direction: row;
}
.padding-r-10{
  padding-right: 10px;
}
.h-40{
  height: 40px;
}
/* .h-100{
  height: 100%;
} */
.MuiFormControl-fullWidth-50 {
  width: 100%;
}
.MuiFormControl-root-47 {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}
.MuiInput-root {
  position: relative;
}
.MuiInputBase-fullWidth {
  width: 100%;
}
.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}
.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
}
.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
}
input{
  overflow: visible;

}
button, input, select, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
input{
  outline: none;
}
.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #e72e77;
  pointer-events: none;
}
.MuiFormHelperText-root {
  margin: 0;
  margin-top: 3px;
  text-align: left;
   font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
.padding-l-10{
  padding-left: 10px;
}
.padding-t-10{
  padding-top: 10px;
}
.PhoneInput{
  display: flex;
  justify-content: center;
}
.PhoneInputCountry {
  border-bottom: 1px solid #c5d2e0;
  text-align: left;
}
.PhoneInputCountry{
  transition: border .1s;
}
.PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 0.35em;
}
.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}
select {
  text-transform: none;
}
button, input, select, textarea {
    /* font-size: 100%; */
    line-height: 1.15;
    margin: 0;
}
.PhoneInputCountryIcon--border {
  background-color: rgba(0,0,0,.1);;
  -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 50%), inset 0 0 0 1px rgb(0 0 0 / 50%);
  box-shadow: 0 0 0 1px rgb(0 0 0 / 50%), inset 0 0 0 1px rgb(0 0 0 / 50%);
}
.PhoneInputCountryIcon {
  width: 1.5em;
  height: 1em;
 
}
.PhoneInputCountryIconImg {
  display: block;
  width: 100%;
  height: 100%;
}
img {
  border-style: none;
}
iframe, img {
  max-width: 100%;
}
.PhoneInputCountrySelectArrow {
  display: block;
  content: "";
  width: var(--PhoneInputCountrySelectArrow-width);
  height: 0.3em;
  height: var(--PhoneInputCountrySelectArrow-width);
  margin-left: var(--PhoneInputCountrySelectArrow-marginLeft);
  border-color: inherit;
  border-top: 0 solid var(--PhoneInputCountrySelectArrow-color);
  border-bottom: var(--PhoneInputCountrySelectArrow-borderWidth) solid var(--PhoneInputCountrySelectArrow-color);
  border-left: 0 solid var(--PhoneInputCountrySelectArrow-color);
  border-right: var(--PhoneInputCountrySelectArrow-borderWidth) solid var(--PhoneInputCountrySelectArrow-color);
   -webkit-transform: var(--PhoneInputCountrySelectArrow-transform);
  transform: var(--PhoneInputCountrySelectArrow-transform);
  opacity: var(--PhoneInputCountrySelectArrow-opacity);
}
.PhoneInputInput {
  border: none;
  border-bottom: 1px solid #c5d2e0;
  height: 1.8rem;
  font-size: inherit;
  background: transparent;
}
.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
}
/* checkbox css */
.margin-b-10{
  margin-bottom: 10px;
}
.text-bold{
  font-weight: 600;
}
.regular{
  font-size: 14px;
  font-weight: 400;
}
.jss537 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MuiFormGroup-root {
  flex-wrap: wrap;
}
.jss538 {
  color: #4a4a4a;
  width: 50%;
  margin-right: 0;
}
.MuiFormControlLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.jss107 .jss108 {
  color: #e72e77;
}
.jss121 {
  padding: 9px;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiButtonBase-root {
  
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiIconButton-label-133{
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
.jss124{
top: 0;
left: 0;
width: 100%;
cursor: inherit;
height: 100%;
margin: 0;
opacity: 0;
padding: 0;
z-index: 1;
position: absolute;
}
[type=radio] {
box-sizing: border-box;
}
.jss134{
  display: flex;
  position: relative;
}

svg:not(:root) {
  overflow: hidden;
}
.MuiSvgIcon-fontSizeSmall-44 {
  font-size: 1.25rem;
}
.MuiSvgIcon-root-37 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.jss134.jss136 .jss135 {
  transform: scale(1);
  transition: transform 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

svg:not(:root) {
  overflow: hidden;
}
.jss135{
  left: 0;
  position: absolute;
}
.MuiSvgIcon-fontSizeSmall-44 {
  font-size: 1.25rem;
}
.MuiSvgIcon-root-37 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}
.jss298 {
  color: #4a4a4a;
  font-size: 12px;
  font-family: "proxima-nova", sans-serif;
}
.MuiTypography-body1 {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.MuiTypography-root {
  margin: 0
}
.jss297 {
  color: #4a4a4a;
  width: 50%;
  margin-right: 0;
}
.MuiFormControlLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.jss268 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.MuiFormGroup-root {
  flex-wrap: wrap;
}
.jss269{
  color: #4a4a4a;
  width: 50%;
  margin-right: 0;
}
.MuiFormControlLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.jss107.jss108 {
  color: #e72e77;
}
.MuiRadio-colorSecondary.Mui-checked:hover {
    background-color: transparent;
}
.MuiIconButton-root:hover {
    background-color: transparent;
}

/* green button css */

.bzZReE {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.margin-t-30 {
  margin-top: 30px;
}
.v-center{
  display: flex;
  align-items: center;
}
.text-secondary-1{
  color: #161616;
}
.dropdown-item, .pointer {
  cursor: pointer;
}
.h2{
  font-size: 30px;
}
.h1, .h2 {
  font-weight: 400;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
 /* check availibility button css */
 .padding-b-20 {
  padding-bottom: 20px;
}

.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.bg-primary-c{
  background-color: #e72e77;
}
.white{
  color: white;
}
.padding-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.h-5 {
  font-size: 20px;
  font-weight: 400;
}
.h-50{
  height: 50px;
}
.w{
  width: 100%;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-tertiary{
  color: #909090;
}
.margin-t-5{
  margin-top: 5px;
}
.small{
  font-size: 12px;
  font-weight: 400;
}
/* about section css */
.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
p,h2{
  margin: 0;
}
.grid__col{
  margin: 0;
  padding: 0;
}
/* feedbackform css */
.ReviewsSection .title-bar {
  display: flex;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
}
.grid__col--4-of-12 {
  width: 33.33333%;
}
.grid__col--4-of-12 {
  width: 33.33333%;
}
.StarRating.regular {
  min-width: 50px;
  max-width: 50px;
  height: 25px;
}

.rating-4 {
  background-color: #9acd32;
}
.ReviewRatingFilter .fixed-width-left {
  width: 55px;
}
.ReviewRatingFilter .rectangle-bar {
  display: inline-block;
  flex: 1 1;
  height: 12px;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.ReviewRatingFilter .rectangle-bar .rating-5 {
  height: 12px;
  background-color: #5ba829;
}
.ReviewRatingFilter .fixed-width-right {
  width: 75px;
}

.text-right {
  text-align: right;
}
.ReviewRatingFilter .rectangle-bar .rating-4 {
  height: 12px;
  background-color: #9acd32;
}
.ReviewRatingFilter .rectangle-bar .rating-3 {
  height: 12px;
  background-color: #ffba00;
}
.ReviewRatingFilter .rectangle-bar .rating-2 {
  height: 12px;
  background-color: #ff7800;
}
.ReviewRatingFilter .rectangle-bar .rating-1 {
  height: 12px;
  background-color: #cb202d;
}
.italic{
  font-style: italic;
}
/* review box css */
.hFdGBs {
  display: flex;
  margin-top: inherit;
  padding: 20px 45px;
}
.grid__col--8-of-12 {
  width: 66.66667%;
}
.ReviewBox{
  flex-direction: column;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.esRXWB {
  margin: 0px;
  padding-top: 20px;
}
.flAZvF {
  position: relative;
  margin-top: 20px;
}
.f-sb-bw{
  display: flex;
}
.f-sb-bw {
  justify-content: space-between;
 align-items: center;
}
.review-rater, .star-box-cover {
  display: flex;
}
.review-rater {
  height: 20px;
 
  flex-direction: row;
 
  align-items: center;
}
.star-box-cover .star-box {
  align-self: center;
  height: 20px;
  width: 20px;
 margin-right: 10px;
  border-radius: 2px;
}
.text-fb {
  color: #3b5998;
}
.jss622{
  padding-top: 2px;
  margin: 0;
}
.jss170.jss171 {
  color: #e72e77;
}
.jss624 {
  fill: #e72e77;
  margin-top: 2px;
  margin-right: 0;
}
.jss121{
  padding: 9px;
}
.jss623 {
  color: #909090;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
}
.KNsWm {
  position: relative;
}
.ReviewBox .std-field {
  border-radius: 2px;
  border: 1px solid #d7d7d7;
}
.textarea-review-box {
  display: flex;
  height: 170px;
  width: 100%
}
.padding-10{
  padding: 10px;
}
textarea{
  overflow: auto;
  outline: none;
}
.ReviewBox .hh-50 {
  height: 50px;
  line-height: 50px;
}
/* photo & submit button css */
.cEMHnP {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.ReviewBox .bottom-bar .image-upload-btn {
  border: 1px solid #d7d7d7;
  width: 120px;
}
.margin-r-20 {
    margin-right: 20px;
}
.ReviewBox .bottom-bar .review-submit-btn {
  width: 150px;
}
.bg-primary-c{
  background-color: #e72e77;
}
.dCazbz:nth-child(1) {
  margin-top: 0px;
}
.dCazbz {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  padding: 15px;
  margin-top: 19px;
}
.font-override {
  font-family: proxima-nova,sans-serif;
}
.text-secondary2{
  color: #4a4a4a;
}
.dCazbz div.line-height-noraml {
  line-height: normal;
}